extends layout

block styles
	link(rel='stylesheet', href='/stylesheets/select2.css')
	meta(name="viewport", content="width=device-width, initial-scale=1")

block scripts
	script(src="/javascripts/towns.js")

block content
	h1= title
	p Welcome to #{title}

	each val, index in Files
		.file= index + ': ' + val


	each val, index in Counties
		each v, i in val
			.counties= i + ': ' + v.replace('id="','').replace('"','')