doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		block styles
	body
	block content


	block scripts

	script.
		document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js"></' + 'script>')