/*! application-name 2013-12-30 */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.red {
  color: red;
  border: 1px solid red;
}
.red:hover {
  color: blue;
}
.red .green {
  border-color: green;
}
.select2-result-with-children:not(:first-child) {
  border-top: 1px solid #333;
  clear: both;
}
.items {
  font-size: 1.6em;
}
.input-lg {
  font-size: 1.6em;
}
.input-lg .select2-choices .select2-search-choice {
  padding: 8px 5px 9px 18px !important;
}
