.Vermont {
	width: 123px;
	height: 200px;
}
.Rhode_Island {
	width: 133px;
	height: 200px;
}
.New_York {
	width: 200px;
	height: 153px;
}
.New_Hampshire {
	width: 104px;
	height: 200px;
}
.Massachusetts {
	width: 200px;
	height: 123px;
}
.Maine {
	width: 134px;
	height: 200px;
}
.Florida {
	width: 200px;
	height: 200px;
}
.Connecticut {
	width: 200px;
	height: 146px;
}
